.close-button {
    float: right;
}

.buttons {
    display: flex;
    flex-direction: row-reverse;
}

.buttons>.action-button {
    padding: 0.5em;
    padding-bottom: 0;
}

.buttons>:first-child {
    padding-right: 0;
}

table.filter-table {
    width: 100%;
}

table.filter-table>td {
    vertical-align: top;
}

table.filter-table>tr.header>td {
    vertical-align: middle;
}

table.filter-table,table.filter-table td {
    padding: 0.5em;
}

table.filter-table td.left {
    min-width: 4em;
    width: 30%;
}

table.filter-table td.right {
    min-width: 4em;
    width: 70%;
}